/* [1] Typography 설정 */
/* Regular (기본) */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400; /* Regular */
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: 'Pretendard-Medium';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 500; /* Medium */
  font-style: normal; 
}

/* Semi-Bold */
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600; /* Semi-Bold */
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700; /* Bold */
  font-style: normal;
}

/* 루트에서 기본 폰트 크기 설정 */
html {
    font-family: 'Pretendard-Regular', 'Pretendard-Medium', 'Pretendard-SemiBold', 'Pretendard-Bold', sans-serif;
    font-size: 16px; /* 기본 폰트 크기 16px */
}

/* body 폰트 크기 */
body {
    font-family: 'Pretendard-Regular', sans-serif;
    font-size: 1rem;  /* 1rem은 16px (기본 설정) */
    line-height: 1.5;
    letter-spacing: normal;
    color: #F5FAFF;
    background-color: #181B1E;
}

/* h1 폰트 크기 */
h1 {
    font-family: 'Pretendard', sans-serif;
    font-size: 2.25rem;  /* 2rem은 32px */
    font-weight: 600;
}

/* h2 폰트 크기 */
h2 {
    font-family: 'Pretendard-Bold', sans-serif;
    font-size: 1.75rem;  /* 1.75rem은 28px */
}

/* h3 폰트 크기 */
h3 {
    font-family: 'Pretendard-Bold', sans-serif;
    font-size: 1.5rem;  /* 1.5rem은 24px */
}

/* body_bold 용 class */
.bold {
  font-family: 'Pretendard-Bold', sans-serif;
  font-size: 1.125rem;
}

/* caption용 class */
.caption {
  font-family: 'Pretendard-Regular', sans-serif;
  font-size: 0.75rem;  /* 0.75rem은 12px */
}

/* [3] color 설정 */
.bg-primary {
  background-color: #FB4CA1 !important;
}

.primary {
  color: #FB4CA1;
}

.bg-white {
  background-color: #F5FAFF;
}

.white {
  color: #F5FAFF;
}

.bg-gray1 {
  background-color: #D0D5DA;
}

.gray1 {
  color: #D0D5DA;
}

.bg-gray2 {
  background-color: #9BA0A5;
}

.gray2 {
  color: #9BA0A5;
}

.bg-gray3 {
  background-color: #797C7F;
}

.gray3 {
  color: #797C7F;
}

.bg-gray4 {
  background-color: #4B5055;
}

.gray4 {
  color: #4B5055;
}

.bg-gray5 {
  background-color: #23282D;
}

.gray5 {
  color: #23282D;
}

.bg-gray6 {
  background-color: #181B1E;
}

.gray6 {
  color: #181B1E;
}

.container {
  max-width: 1440px;
  padding: 36px 140px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* btn */
.btn-lg {
  height:auto;
  width:50%;
  border-radius: 4px;
  padding:12px;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  font-size: 18px;
  font-weight: 600;
  border: none;
  color: #F5FAFF;
  margin: 0 auto;
}

/* input */
.input-white {
  width: 100%;
  margin-bottom: 18px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  text-indent: 10px;
}

.input-white::placeholder {
  color: #cfcfcf;
  font-size:15px;
  text-indent: 10px;
}